[build]
  command = "astro build"
  publish = "dist"

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Content-Security-Policy = """
      default-src 'self' miro.com figma.com *.figma.com;
      img-src 'self' res.cloudinary.com images.ctfassets.net;
      script-src 'self' 'unsafe-inline';
      style-src 'self' 'unsafe-inline' fonts.bunny.net;
      font-src 'self' fonts.bunny.net"""

[[headers]]
  for = "/admin*"
  [headers.values]
    Content-Security-Policy = "default-src 'self' 'unsafe-inline' 'unsafe-eval' *"

[[redirects]]
  from = "/:year/:month/:date/:slug"
  to = "/notes/:slug"
  status = 301

[[plugins]]
package = "@netlify/plugin-sitemap"

  [plugins.inputs]
  buildDir = "dist"

[[plugins]]
package = "netlify-plugin-hashfiles"


