---
import { CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.astro";

interface Props {
  entry: CollectionEntry<'posts'>;
}

export async function getStaticPaths() {
  const notes = await getCollection("posts");
  return notes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<BaseLayout
  title={`${entry.data.title}`}
>
<Hero title={entry.data.title} />
  <main class="wrapper">
    <article >
      <section class="layout content">
        <Content />
      </section>
    </article>
  </main>
</BaseLayout>
