:root {
  --color-light: #eaeaea;
  --color-dark: #252525;

  --color-theme-100: #2250F4;
  --color-theme-200: #183DD1;
  --color-theme-300: #112CAF;
  --color-theme-400: #061475;
  --color-accent-100: #D13745;
  --color-accent-200: #E5653F;
  --color-accent-300: #FABD37;

  --color-background: var(--color-theme-300);

  --scheme-color: var(--color-light);

  --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.80rem);
  --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1.00rem);
  --step-0: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
  --step-1: clamp(1.20rem, calc(1.07rem + 0.63vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  --step-4: clamp(2.07rem, calc(1.73rem + 1.70vw), 3.05rem);
  --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);

  --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
  --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);

  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem);

  --grid-columns: 12;

  --flow-space: var(--space-s);
  --leading-standard: 1.6;
  --leading-loose: 1.8;
  --leading-tight: 1.2;

  --wrapper-width: 80rem;
  --dynamic-space: calc((100vw - var(--wrapper-width)) / 2);

  --negative-dynamic-space: calc(var(--wrapper-width) * -1);

  --line-length: 60ch;
  --border-radius-m: 4px;
  --border-radius-s: 2px;

  --theme-transition: 0.2s ease-in-out;
  --theme-gradient: var(--light, linear-gradient(to left top, #061475, #09187f, #0b1d8a, #0d2195, #0f26a0, #122bab, #1530b5, #1735c0, #1b3ccd, #1e42da, #2049e7, #2250f4)) var(--dark, linear-gradient(to right bottom, #030935, #000e41, #00114d, #001259, #001365, #001365, #001365, #001365, #001259, #00114d, #000e41, #030935));

  --theme-article-bg: var(--light, #fff) var(--dark, #030935);

  --ON: initial;
  --OFF: ;


  color-scheme: light dark;
}

html,
.theme-light {
  --light: var(--ON);
  --dark: var(--OFF);
}

.theme-dark {
  --light: var(--OFF);
  --dark:var(--ON);
}

/* :root.theme-dark {
  --theme-gradient: linear-gradient(to right bottom, #061475, #09187f, #0b1d8a, #0d2195, #0f26a0, #0f26a0, #0f26a0, #0f26a0, #0d2195, #0b1d8a, #09187f, #061475);
  --theme-article-bg: #030935;
} */

@media (prefers-color-scheme: dark) {
  /* :root {
    --theme-gradient: linear-gradient(to right bottom, #061475, #09187f, #0b1d8a, #0d2195, #0f26a0, #0f26a0, #0f26a0, #0f26a0, #0d2195, #0b1d8a, #09187f, #061475);
    --theme-article-bg: #030935;
  } */
  body {
    --light: var(--OFF);
    --dark: var(--ON);
  }
}

*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body {
  font-family: 'Source Sans 3', sans-serif;
  font-size: var(--step-0);
  line-height: var(--leading-standard, 1.6);
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h1, h2, h3 {
  line-height: var(--leading-tight);
}

figure > img {
  border-radius: max(0px, min(var(--border-radius-m), calc((100vw - 4px - 100%)
  * 9999)));
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin-left: -1rem;
}

figcaption {
  font-size: var(--step-0);
  font-family: 'Playfair Display', serif;
  font-style: italic;
  max-width: 65ch;
}

a {
  color: var(--color-theme-100);
  text-decoration-thickness: 2px;
  text-underline-offset: .2ex;
}

a:hover, a:focus {
  text-underline-offset: .3ex;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

.wrapper {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.logotype {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: var(--step-0);
  text-decoration: none;
  color: currentColor;
}

.logotype:after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: .125rem;
  content: '';
  background-color: var(--color-accent-300);
  transform: rotate(-1deg);
  transition: transform 0.1s ease-out;
}

.logotype:hover:after {
  transform: rotate(0deg);
  transition: transform 0.1s ease-out;
}

main {
  max-width: 80rem;
}

nav + * {
  margin-block-start: var(--space-xl);
}

.dm-hero {
  padding-block-start: var(--space-2xl);
  color: var(--color-light);
  background-color: var(--color-background);
  background-image: url('../img/noise.png'), var(--theme-gradient);
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply, normal;
}

.wave {
  display: block;
  margin-block-start: var(--space-2xl);
  width: 100%;
  height: clamp(2rem,5vw,10rem);
}

#page-divide {
  animation: moveforward 10s linear infinite;

}

@keyframes moveforward {
  0% {
   transform:translate(-90px)
  }
  to {
   transform:translate(85px)
  }
 }

.home header a {
  color: var(--color-accent-300);
}

.home header p {
  font-size: var(--step-1);
  line-height: var(--leading-tight);
  max-width: 55ch;
}

.work {
  color: var(--color-dark);
}

.theme-dark .work {
    color: var(--color-light);
    background-color: var(--theme-article-bg);
}

.theme-dark .work a {
  color: var(--color-accent-300);
}

.work article > *:not(figure) {
  grid-column: 1 / -2;
  max-width: 80ch;
}

@media screen and (min-width: 800px) {
  .work article > *:not(figure) {
    max-width: var(--line-length);
  }
}

.lede {
  font-size: var(--step-1);
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-style: italic;
  max-width: 50ch;
  text-wrap: balance;
  margin-block-start: var(--flow-space, 1em);
}

.lede + * {
  --flow-space: 1em;
}

footer {
  position: relative;
  margin-block-start: var(--space-3xl);
  padding: var(--space-s) 0 var(--space-s);
  font-size: var(--step--1);
}

.waves {
  width: 100%;
  height: 10rem;
  background-image: url('../images/waves.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  top: 0;
}

@media(prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background-color: var(--theme-article-bg);
  }

  input, textarea, button {
  border: 2px solid var(--scheme-color);
}

:is(input,textarea, button):focus {
  outline-color: var(--scheme-color);
}

  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

.socials {
  display: inline-flex;
  padding: 0;
  list-style: none;
}

.socials li:not(:last-child) {
  margin-inline-end: var(--space-3xs);
}

.socials a {
  color: inherit;
  text-decoration-color: var(--color-accent-300);
}

.work footer {
  color: white;
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
}

@keyframes fade-out {
  to {
      opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
      transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
      transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation:
      90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left
  ;
}

::view-transition-new(root) {
  animation:
      210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right
  ;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
