<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ site.faviconPath }}" type="image/png">
    {% include "partials/global/meta-info.njk" %}
    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin/>
    <link rel="preload"
          as="style"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
          media="print"
          onload="this.media='all'"/>

    <link rel="stylesheet"
          href="/css/splash.css"/>
  </head>
  <body>
    <main class="grid-container">
      <h1>Daniel Matthew</h1>
    </main>
  </body>
</html>
