{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %}
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="preconnect"
          href="https://res.cloudinary.com">

    <link rel="preload"
          href="https://res.cloudinary.com/danmatthew/image/upload/c_thumb,w_200,g_face/v1593720656/_DSC2105_yxqwvc.jpg"
          as="image">

    <script>performance.mark('CSS start');</script>
    <style>{% include "assets/css/splash.css" %}</style>
    <script>performance.mark('CSS end'); performance.measure('CSS time', 'CSS start', 'CSS end');</script>

    <link rel="icon" type="image/svg+xml" href="{{ site.faviconPath }}">
    <link rel="alternate icon" href="{{ site.faviconFallbackPath }}">
    <link rel="mask-icon" href="{{ site.safariPinnedTabPath }}" color="#000000">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"/>

    {% include "partials/global/meta-info.njk" %}
    <link rel="stylesheet"
          href="css/global.css"
          media="print"
          onload="this.media='all'">
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to content</a>
    <header>
      <picture onload="performance.clearMarks('photo-mark'); performance.mark('photo-mark');">
        <source
          srcset="https://res.cloudinary.com/danmatthew/image/upload/ar_16:10,c_scale,w_0.7,q_auto,f_auto,dpr_1.0/v1593720656/_DSC2105_yxqwvc.jpg,
                  https://res.cloudinary.com/danmatthew/image/upload/ar_16:10,c_scale,w_0.7,q_auto,f_auto/v1593720656/_DSC2105_yxqwvc.jpg 2x"
          media="screen and (min-width: 60rem)">

        <source
          srcset="https://res.cloudinary.com/danmatthew/image/upload/c_crop,f_auto,dpr_1.0,g_auto,h_1.0,q_auto,w_0.3,x_0/v1593720656/_DSC2105_yxqwvc.jpg,
                  https://res.cloudinary.com/danmatthew/image/upload/c_crop,f_auto,g_auto,h_1.0,q_auto,w_0.3,x_0/v1593720656/_DSC2105_yxqwvc.jpg 2x"
          media="screen and (orientation: portrait)">

        <img
          class="c-hero"
          height="100vh"
          width="100vw"
          srcset="https://res.cloudinary.com/danmatthew/image/upload/ar_16:10,c_scale,w_0.7,q_auto,f_auto,dpr_1.0/v1593720656/_DSC2105_yxqwvc.jpg,
                  https://res.cloudinary.com/danmatthew/image/upload/ar_16:10,c_scale,w_0.7,q_auto,f_auto/v1593720656/_DSC2105_yxqwvc.jpg 2x"
          src="https://res.cloudinary.com/danmatthew/image/upload/ar_16:10,c_scale,w_0.7,q_auto,f_auto,dpr_1.0/v1593720656/_DSC2105_yxqwvc.jpg"
          alt=""
          onload="this.style.filter = 'blur(0)'">
      </picture>
      <script>
        performance.clearMarks('photo-mark');
        performance.mark('photo-mark');
      </script>
      <h1 class="c-hero__title">Dan Matthew</h1>
    </header>
    <main id="main-content" tabindex="-1">
      {% include "partials/components/post-list.njk" %}
    </main>
    {% include "partials/global/site-foot.njk" %}
    {% block foot %}{% endblock %}
    <script type="module" src="/js/components/theme-toggle.js" async></script>
    {# <script defer async>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator
            .serviceWorker
            .register('/service-worker.js');
        });
      }
    </script> #}
  </body>
</html>
