<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/svg+xml" href="{{ site.faviconPath }}">
    <link rel="alternate icon" href="{{ site.faviconFallbackPath }}">
    <link rel="mask-icon" href="{{ site.safariPinnedTabPath }}" color="#000000">

    {% include "partials/global/meta-info.njk" %}

    <link rel="preconnect"
          href="https://res.cloudinary.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link rel="preload"
          href="https://res.cloudinary.com/danmatthew/image/upload/q_auto,f_auto/v1593720656/_DSC2105_yxqwvc.jpg"
          as="image">

    <link rel="preload"
          as="style"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
          media="print"
          onload="this.media='all'">

    <style>{% include "assets/css/splash.css" %}</style>
  </head>
  <body>
    <header>
      <picture>
        <source
          srcset="https://res.cloudinary.com/danmatthew/image/upload/q_auto,f_auto,dpr_1.0/v1593720656/_DSC2105_yxqwvc.jpg,
                  https://res.cloudinary.com/danmatthew/image/upload/q_auto,f_auto/v1593720656/_DSC2105_yxqwvc.jpg 2x"
          media="screen and (min-width: 60rem)">

        <source
          srcset="https://res.cloudinary.com/danmatthew/image/upload/c_crop,f_auto,dpr_1.0,g_auto,h_1.0,q_auto,w_0.3,x_0/v1593720656/_DSC2105_yxqwvc.jpg,
                  https://res.cloudinary.com/danmatthew/image/upload/c_crop,f_auto,g_auto,h_1.0,q_auto,w_0.3,x_0/v1593720656/_DSC2105_yxqwvc.jpg 2x"
          media="screen and (orientation: portrait)">

        <img
          class="c-hero"
          height="100vh"
          width="100vw"
          srcset="https://res.cloudinary.com/danmatthew/image/upload/q_auto,f_auto,dpr_1.0/v1593720656/_DSC2105_yxqwvc.jpg,
                  https://res.cloudinary.com/danmatthew/image/upload/q_auto,f_auto/v1593720656/_DSC2105_yxqwvc.jpg 2x"
          src="https://res.cloudinary.com/danmatthew/image/upload/q_auto,f_auto,dpr_1.0/v1593720656/_DSC2105_yxqwvc.jpg"
          alt="">
      </picture>
      <h1>Daniel Matthew</h1>
    </header>
  </body>
</html>
