---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <article class="wrapper">
      <header>
        <div class="flow masthead">
          <h1>About</h1>
        </div>
      </header>
      <section class="layout content flow">
        <h2>What I do</h2>
        <p>Designer of usable, accessible, inclusive public services. I’ve built diverse design teams, led successful agile projects and designed multiple award winning websites.</p>
        <p>I’m an experienced leader with a background in design ops, design training, design systems, accessibility, inclusion, product management and web standards.</p>

        <h2>Design principles</h2>
        <ol>
          <li>Use data</li>
        </ol>
      </section>
    </article>
  </main>
</BaseLayout>
