---
import { getCollection } from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";

const notesWithDate =
  (await getCollection('articles', ({data}) => {
    return data.published !== false;
  }))

  .sort((a, b) => {
    return b.data.publishedDate?.valueOf() - a.data.publishedDate?.valueOf();
  });

---
<BaseLayout title="Articles">
  <Hero title="Articles"/>
  <ol class="content flow posts" style="--flow-space: var(--space-m);" role="list" reversed>
    {
      notesWithDate.map((note) => (
        <li>
          <a href={`/notes/${note.slug}`}>{ note.data.title }</a>
          <time class="meta" datetime={note.data.publishedDate.toDateString()}>{note.data.publishedDate.toLocaleDateString()}</time>
        </li>
      ))
    }
  </ol>
</BaseLayout>
