---
import HomeLayout from "../layouts/HomeLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Quotes from "../components/Quotes.astro";
import Work from "../components/Work.astro";
import List from '../components/List.astro';
---
<HomeLayout >
  <main class="wrapper">
    <Work />
    <List />
    <Quotes />
  </main>
</HomeLayout>
<!-- <script>
  const handleSubmit = (event) => {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);

    fetch('/', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams(formData).toString()
    })
    .then(() => console.info('Form successfully submitted'))
    .then(() => form.reset());
  };

  document.forms[0].addEventListener('submit', handleSubmit);
</script> -->
