---
import BaseLayout from "../layouts/BaseLayout.astro";
// import ContactCTA from "../components/ContactCTA.astro";
import Work from "../components/Work.astro";
import Bio from "../components/Bio.astro";
---
<BaseLayout title="Dan Matthew - UX Engineer" modifier="home">
  <header class="flow wrapper">
    <h1>Hello, world!</h1>
    <Bio />
  </header>
  <main class="wrapper">
    <Work />
  </main>
</BaseLayout>
<!-- <script>
  const handleSubmit = (event) => {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);

    fetch('/', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams(formData).toString()
    })
    .then(() => console.info('Form successfully submitted'))
    .then(() => form.reset());
  };

  document.forms[0].addEventListener('submit', handleSubmit);
</script> -->
