---
const currentYear = new Date().getFullYear();
---
<footer>
  <div class="wrapper space-apart">
    <span>&copy; { currentYear }</span>
    <ul class="socials">
      <li><a rel="me" href="https://1-on-1.com/danielm">Book a 1-on-1</a></li>
      <li><a rel="me" href="https://front-end.social/@danielm">Mastodon</a></li>
      <li><a rel="me" href="https://github.com/danielmatthew">Github</a></li>
      <li><a rel="me" href="https://codepen.io/danielmatthew">CodePen</a></li>
      <li><a rel="me" href="https://linkedin.com/in/danielmatthew/">LinkedIn</a></li>
      <li><a rel="me" href="https://noti.st/danielmatthew">Notist</a></li>
    </ul>
  </div>
</footer>
