---
import ContactCTA from "./ContactCTA.astro";
const currentYear = new Date().getFullYear();
---

<footer class="wrapper">
  <div class="flow">
    <!-- <ContactCTA /> -->
    <ul class="socials" role="list">
      <li><a rel="me" href="/resume">Résumé</a></li>
      <li>
        <a rel="me" href="https://photos.danmatthew.co.uk">Photography</a>
      </li>
      <li>
        <a rel="me external" href="https://adplist.org/mentors/dan-matthew">ADPList</a>
      </li>
      <li>
        <a rel="me external" href="https://front-end.social/@danielm">Mastodon</a>
      </li>
      <li><a rel="me external" href="https://github.com/danielmatthew">Github</a></li>
      <li><a rel="me external" href="https://codepen.io/danielmatthew">CodePen</a></li>
      <li>
        <a rel="me external" href="https://linkedin.com/in/danielmatthew/">LinkedIn</a>
      </li>
      <li><a rel="me external" href="https://noti.st/danielmatthew">Notist</a></li>
    </ul>
    <span>&copy; {currentYear}</span>
  </div>
</footer>
