form {
  display: flex;
  flex-direction: column;
}

input, textarea, select, button {
  appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 1.5;
  padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    vertical-align: top;
}

input, textarea, select {
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  /* box-shadow: inset 0 1px 2px rgba(10,10,10,.1); */
  max-width: 100%;
  width: 100%;
  margin-bottom: 0.5em;
  height: 2.25em;
}

button {
  border: 0;
}

.label:not(:last-child) {
  margin-bottom: .5em;
}

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.field:not(:last-child) {
  margin-bottom: .75rem;
}

.input {
  transition: 1s outline-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.input.is-hovered,
.input:hover,
.textarea.is-hovered,
.textarea:hover {
  border-color: #b5b5b5;
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: left;
}

.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: .625em;
  resize: vertical;
}

.textarea:not([rows]) {
  max-height: 600px;
  min-height: 120px;
}

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select:not(.is-multiple) {
  height: 2.25em;
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.375em - 1px);
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button {
  -moz-appearance: none;
-webkit-appearance: none;
align-items: center;
border: 1px solid transparent;
border-radius: 0;
box-shadow: none;
display: inline-flex;
font-size: 1rem;
height: 2.25em;
justify-content: flex-start;
line-height: 1.5;
padding-bottom: calc(.375em - 1px);
padding-left: calc(.625em - 1px);
padding-right: calc(.625em - 1px);
padding-top: calc(.375em - 1px);
position: relative;
vertical-align: top;
}

.button.is-link {
  background-color: #000;
  border-color: transparent;
  color: #fff;
}

.input.is-success,
.textarea.is-success {
  border-color: #23d160;
}

input:valid {
  outline-color: #23d160;
}

.input.is-danger,
.textarea.is-danger {
  border-color: #ff3860;
}


.select select {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
}

.select select:not([multiple]) {
  padding-right: 2.5em;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: .625em;
  margin-top: -.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: .625em;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #000;
  right: 1.125em;
  z-index: 4;
}
