---

---
<section aria-labelledby="achievements">
  <h2 id="achievements">
    Achievements
  </h2>
  <ul class="flow">
    <li>Led and developed accessibility strategy: auditing to remediation, through creating accessible touchpoints at all parts of the customer journey</li>

<li>Authored the accessibility statement for SAGE Catalyst which received a textBOX ASPIRE score of 100%</li>

<li>Performed accessibility audits to identify and implement improvements which led to a 90% reduction in accessibility violations.</li>

<li>Created and implemented functionality allowing the discovery and creation of annotations against a video which had previously been impossible for keyboard users.</li>

<li>Developed accessibility best practices for all business functions</li>

<li>Delivered accessibility education to technical and non-technical audiences</li>

<li>Developed suite of web components to solve common accessibility issues and implemented Talis design standards</li>

<li>Implemented processes to improve handoff between design and development teams</li>

<li>Created wireframes, prototyped, and built components for a React-based rewrite of Talis’ teaching and learning product, Elevate.</li>

<li>Facilitated group and one-to-one discovery sessions with customers</li>

<li>Ran unmoderated usability testing sessions in order to eliminate usability issues with a proposed typeahead control</li>

<li>Designed with data to guide decisions and gauge success of design solutions</li>

<li>Introduced design tokens to keep our Sketch components and Sass variables in sync</li>

<li>Authored guidelines for internal design system which increased developer autonomy and reduced the amount of time spent snagging</li>

<li>Consulted with UX designers on the feasibility of their proposed solutions</li>

<li>Coached peers on design and engineering teams, helping them improve their understanding of user-centred design</li>
  </ul>
</section>
<style>
  ul {
    max-width: 65ch;
    font-size: var(--step--1);
    line-height: var(--leading-tight);
  }

  li {
    margin-bottom: var(--spacing-);
  }
</style>
