---
import { contentfulClient } from '../lib/contentful';

function shuffle(array) {
    let counter = array.length;

    // While there are elements in the array
    while (counter > 0) {
        // Pick a random index
        let index = Math.floor(Math.random() * counter);

        // Decrease counter by 1
        counter--;

        // And swap the last element with it
        let temp = array[counter];
        array[counter] = array[index];
        array[index] = temp;
    }

    return array;
}

const achievements = await contentfulClient.getEntries({
  content_type: 'achievement',
}).then((response) => {
  return {
    items: shuffle(response.items),
  };
})
---
<section aria-labelledby="achievements">
  <h2 id="achievements">
    Achievements
  </h2>
  <ul>
    {achievements.items.map((cheevo) => (
    <li>{cheevo.fields.achievement}</li>
    ))}
  </ul>
</section>
<style>
  ul {
    --flow-space: var(--space-m);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
    list-style: none;
    padding-inline-start: 0;
    font-size: var(--step--1);
  }

  li {
    padding: var(--space-s) var(--space-m);
    background-color: var(--color-theme-400);
    border-inline-start: 3px solid var(--color-accent-300);
    border-radius: var(--border-radius-m);

    max-width: 65ch;
  }
</style>
