---

---
<section aria-labelledby="achievements">
  <h2 id="achievements">
    Achievements
  </h2>
  <ul>
    <li>Led on product accessibility strategy, from auditing through remediation, design through development. Reduced reported accessibility issues by 90%</li>

    <li>Created wireframes, prototyped, and contributed code towards a React-based rewrite of Elevate, a teaching and learning product.</li>

    <li>Designed, prototyped, and implemented functionality allowing the discovery and creation of annotations within Elevate’s video player. This had previously been impossible for keyboard and assistive technology users</li>

    <li>Authored and maintained design system documentation which increased developer autonomy</li>

    <li>Implemented processes to improve handoff between design and engineering teams</li>

    <li>Developed suite of web components to solve common design problems, while encapsulating Talis design and accessibility standards</li>

    <li>Facilitated group and one-to-one discovery sessions with customers; used unmoderated usability testing tools in order to measure the success of proposed solutions.</li>

    <li>Used data to guide product design decisions and measure the success of design initiatives</li>

    <li>Coached peers on design and engineering teams, helping them improve their understanding of accessibility and user-centred design, while promoting empathy with our student, academic, and library audiences</li>
  </ul>
</section>
<style>
  ul {
    --flow-space: var(--space-m);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60ch, 1fr));
  gap: 1rem;
    list-style: none;
    padding-inline-start: 0;
  }

  li {
    padding: var(--space-s) var(--space-m);
    background-color: var(--color-theme-400);
    border-inline-start: 3px solid var(--color-accent-300);
    border-radius: var(--border-radius-m);

    max-width: 65ch;
  }
</style>
