.monogram {
  background-color: white;
  padding: 1em;
  color: black;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-area: logo;
  mix-blend-mode: color-dodge;
}
