---
import ThemeToggle from './ThemeToggle.astro';
import Quadtree from './Quadtree.astro';
---

<header class="banner wrapper">
  <nav>
    <a href="/" class="logo">
      <Quadtree />
      <span>Home</span>
    </a>
  </nav>

  <ThemeToggle />
</header>
