---
import ThemeToggle from './ThemeToggle.astro';
---

<nav class="wrapper">
  <a href="/" class="logotype">Dan Matthew</a>
  <ThemeToggle />
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
</style>
