---
import ThemeToggle from './ThemeToggle.astro';
---

<header class="wrapper">
  <nav class="banner">
    <a href="/" class="logotype">Dan Matthew</a>


  </nav>

  <!-- <ThemeToggle /> -->
</header>
