---
const currentPath = Astro.url.pathname;
---

<a href="#main" class="skip-link visually-hidden-focusable">Skip to content</a>
<header class="banner wrapper space-apart">
  <a href="/" class="logo"> Dan Matthew </a>

  <nav>
    {
      currentPath === "/notes" ? (
        <a href="/notes" aria-current="page">
          Notes
        </a>
      ) : (
        <a href="/notes">Notes</a>
      )
    }

    {
      currentPath === "/work" ? (
        <a href="/work" aria-current="page">
          Work
        </a>
      ) : (
        <a href="/work">Work</a>
      )
    }
  </nav>
</header>
