---
const currentPath = Astro.url.pathname;
---

<a href="#main" class="skip-link visually-hidden-focusable">Skip to content</a>
<header class="banner">
  <div>
    <a href="/" class="logo">Dan Matthew</a>
  </div>

  <nav>
    {
      currentPath === "/work" ? (
        <a href="/work" aria-current="page">
          Work
        </a>
      ) : (
        <a href="/work">Work</a>
      )
    }

    {
      currentPath === "/articles" ? (
        <a href="/articles" aria-current="page">
          Articles
        </a>
      ) : (
        <a href="/articles">Articles</a>
      )
    }

    {
      currentPath === "/notes" ? (
        <a href="/notes" aria-current="page">
          Notes
        </a>
      ) : (
        <a href="/notes">Notes</a>
      )
    }
  </nav>
</header>
