---
import ThemeToggle from './ThemeToggle.astro';
import Quadtree from './Quadtree.astro';
import Avatar from '../components/Avatar.astro';

---

<a href="#content" class="skip-link visually-hidden-focusable">Skip to content</a>
<header class="banner wrapper">
  <a href="/" class="logo">
    <Avatar />
  </a>
</header>
