---
import ThemeToggle from './ThemeToggle.astro';
import Quadtree from './Quadtree.astro';
---

<header class="wrapper">
  <nav class="banner">
    <a href="/">
      <Quadtree />
      <span class="visually-hidden">Dan Matthew</span>
    </a>
  </nav>

  <!-- <ThemeToggle /> -->
</header>
