---
interface Props {
  fields: Object;
}

const { fields } = Astro.props.project;
---

<a class="card" href={`/work/${fields.slug}`}>
  <span class="title">{fields.title}</span>
</a>

<style>
  a {
    display: block;
    background-color: #FABD37;
    padding: 3rem;
    color: white;
    text-align: center;
  }
</style>
