---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
---

<a class="card" href={`/work/${slug}`}>
  <span class="title">{data.title}</span>
</a>

<style>
  a {
    display: block;
    background-color: #FABD37;
    padding: 3rem;
    color: white;
    text-align: center;
  }
</style>
