.single-post {
  display: grid;
  grid-template-columns: 1fr 38rem 1fr;
  margin: 1em;
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.single-post > article {
  grid-column-start: 2;
  grid-column-end: 3;
}

header {
  margin-bottom: 1em;
}

article > div > p:first-of-type::first-letter {
  font-size: 2em;
}
