:root {
  --background-color: #E91E63;
  --primary-hue: 340;
  --primary-lightness: 52;
  --frame: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --frame: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-hue: 140;
    --frame: #222222;
  }
}

.grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  border: 1em solid var(--frame);
  background-color: hsl(var(--primary-hue), 82%, 52%);
  color: white;

  transition-property: background-color;
}

h1 {
  font-size: 3rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
