---

---
<div id="stackblitz-demo"></div>
<script>
import sdk from '@stackblitz/sdk'

sdk.embedProjectId(
  'stackblitz-demo',
  'react-ts-jqmqtt',
  {
    forceEmbedLayout: true,
    openFile: 'App.tsx',
    view: 'preview',
    theme: 'light',
    clickToLoad: true,
    hideExplorer: true,
    hideNavigation: true,
    hideDevTools: true,
  }
);

</script>
