---
const { heading } = Astro.props;
---

<li>
  <a href={'#' + heading.slug}>
    {heading.text}

    {
      heading.subheadings.length > 0 && (
        <ol>
          {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
        </ol>
      )
    }
  </a>
</li>
