---
import { contentfulClient } from '../lib/contentful';
import type { portfolioEntry } from '../lib/contentful';

import PortfolioPreview from '../components/PortfolioPreview.astro';

const projects = await contentfulClient.getEntries<portfolioEntry>({
  content_type: 'blogPost',
  order: '-fields.date',
});
---
<section class="flow work" aria-labelledby="work">
  <div class="wrapper">
  <h2 id="work">Selected works</h2>
  <ol role="list">
    {
      projects.items.map((project, index) => (
        <li>
          <PortfolioPreview project={project} index={index} />
        </li>
      ))
    }
  </ol>
  </div>
  <svg class="wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
    <path id="page-divide" fill="hsl(0,0,99%)" x="50" y="0" d="M-160 44c30 0
        58-18 88-18s
        58 18 88 18
        58-18 88-18
        58 18 88 18
        v44h-352z"></path>
      </defs>
      <g>
        <use xlink:href="#page-divide" x="50" y="0" fill="hsl(0,0,99%)"></use>
      </g>
    </svg>
</section>
