---
import { contentfulClient } from '../lib/contentful';
import type { portfolioEntry } from '../lib/contentful';

import PortfolioPreview from '../components/PortfolioPreview.astro';

const projects = await contentfulClient.getEntries<portfolioEntry>({
  content_type: 'blogPost',
  order: '-fields.date',
});
---
<section class="flow work" aria-labelledby="work">
  <div class="wrapper">
  <h2 id="work">Selected works</h2>
  <ol role="list">
    {
      projects.items.map((project, index) => (
        <li>
          <PortfolioPreview project={project} index={index} />
        </li>
      ))
    }
  </ol>
  </div>
</section>
<style>
  section {
    padding-block-start: var(--space-xl);
    padding-block-end: var(--space-2xl);
  }
  ol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    padding-left: 0;
    justify-content: space-evenly;
    gap: var(--space-xl);
    list-style: none;
  }

  li {
    margin: 0;
    flex: 1 1 20rem;
  }

  /* li:first-child:nth-child(-2n+1) {
    grid-column: 1 / -1;
  } */

  .offset {
    --row-offset: 7.5rem;
    padding-bottom: var(--row-offset);
  }

  /* .offset > :nth-child(2n) {
    transform: translateY(var(--row-offset));
  } */

  a {
    color: white;
  }
</style>
