---
import { contentfulClient } from '../lib/contentful';
import type { portfolioEntry } from '../lib/contentful';

import PortfolioPreview from '../components/PortfolioPreview.astro';

const projects = await contentfulClient.getEntries<portfolioEntry>({
  content_type: 'blogPost',
  order: '-fields.date',
});
---
<section class="flow work" aria-label="Work">
  <div class="wrapper">
  <ul role="list">
    {
      projects.items.map((project, index) => (
        <li>
          <PortfolioPreview project={project} index={index} />
        </li>
      ))
    }
  </ul>
  </div>
</section>
