---
import { contentfulClient } from '../lib/contentful';
import type { portfolioEntry } from '../lib/contentful';

import PortfolioPreview from '../components/PortfolioPreview.astro';

const projects = await contentfulClient.getEntries<portfolioEntry>({
  content_type: 'blogPost',
  order: '-fields.date',
});
---
<section class="flow" aria-labelledby="work">
  <h2 id="work">Selected works</h2>
  <ol role="list">
    {
      projects.items.map((project, index) => (
        <li>
          <PortfolioPreview project={project} index={index} />
        </li>
      ))
    }
  </ol>
</section>
<style>
  section {
    margin-block-start: var(--space-xl)
  }
  ol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    padding-left: 0;
    justify-content: space-evenly;
    gap: var(--space-3xs);
    list-style: none;
  }

  li {
    margin: 0;
    flex: 1 1 20rem;
  }

  a {
    color: white;
  }
</style>
