:root {
  --primary-hue: 0;
  --primary-lightness: 0%;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-hue: 0;
    --frame: #222;
  }
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  font: 112.5%/1.45em Inter, sans-serif;
  box-sizing: border-box;
}

body {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  align-content: flex-end;
  justify-content: center;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

h1,
h2 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h1 {
  font-size: clamp(2rem, 10vw, 25rem);
  letter-spacing: -0.05ch;
  margin: 0;
  transform: translateY(40%);
}
