*,
:after,
:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font: 112.5%/1.45em Inter, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

.grid-container {
  --thumb: url('https://res.cloudinary.com/danmatthew/image/upload/c_thumb,w_200/v1593720656/_DSC2105_yxqwvc.jpg');
  --full: url('https://res.cloudinary.com/danmatthew/image/upload/q_auto,f_auto/v1593720656/_DSC2105_yxqwvc.jpg');
  display: grid;
  height: 100vh;
  width: 100vw;
  align-content: flex-end;
  justify-content: center;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  background-image: var(--full), var(--thumb);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden;
}

.c-hero {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

h1 {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0 0 1.45rem;
  color: #fff;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-size: 10vw;
  font-size: clamp(2rem, 10vw, 25rem);
  letter-spacing: -0.05ch;
  margin: 0;
  transform: translateY(40%);
}
