{% include head.html %}

  <body>
      <header class="masthead" role="banner">
          <hgroup>
            <h1 class="masthead__title">
              <a href="/" title="Home">{{ site.title }}</a>
              <small>{{ site.tagline }}</small>
            </h1>
          </hgroup>
          {% include navigation.html %}
      </header>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer" role="contentinfo">
        <small>&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>.</small>
      </footer>
    </div>
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
