{% include head.html %}

  <body>
    <div class="container">
      <header class="masthead" role="banner">
          <h1 class="masthead__title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h1>

          {% include navigation.html %}
      </header>

      <main role="main">
        {{ content }}
      </main>

      <footer class="footer" role="contentinfo">
        <small>&copy; 2005 – <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.</small>
      </footer>
    </div>
  </body>
</html>
