---
permalink: '/feed.json'
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ site.name }}",
  "icon": "",
  "home_page_url": "{{ site.url }}",
  "feed_url": "{{ site.url }}{{ permalink }}",
  "items": [
    {% for post in collections.postFeed %}
    {% set absolutePostUrl %}{{ site.url }}{{ post.url | url }}{% endset %}
    {
      "id": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": "{{ post.templateContent | excerpt | safe | striptags }}",
      "date_published": "{{ post.date | rssDate }}",
      "url": "{{ absolutePostUrl }}",
      "syndicate": {{ post.data.syndicate | string }}
    }
    {%- if not loop.last -%},{% endif %}
    {% endfor %}
  ]
}
