@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: local('Inter'), url("/fonts/Inter-roman.var.woff2?v=3.13") format("woff2");
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  font: 112.5%/1.45em 'Inter var', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

@import 'utilities/visually-hidden';
@import 'components/skip-link';

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hour), 71%, 52%);
  overflow: hidden;
}

path:nth-child(8) {
  fill: hsl(var(--hour), 59%, 34%)
}

path:nth-child(7) {
  fill: hsl(var(--hour), 59%, 44%)
}

path:nth-child(6) {
  fill: hsl(var(--hour), 59%, 54%)
}

path:nth-child(5) {
  fill: hsl(var(--hour), 59%, 64%)
}

path:nth-child(4) {
  fill: hsl(var(--hour), 59%, 74%)
}

path:nth-child(3) {
  fill: hsl(var(--hour), 59%, 84%)
}

path:nth-child(2) {
  fill: hsl(var(--hour), 59%, 90%)
}

path:nth-child(1) {
  fill: hsl(var(--hour), 59%, 94%)
}

[data-user-color-scheme='dark'] header {
  background-image: radial-gradient(79.33% 186.85% at 4.34% 0%, #1A082B 2.01%, rgba(187, 107, 217, 0) 100%);
}

.c-hero__title {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0 0 1.45rem;
  color: #fff;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-size: 16vw;
  font-size: clamp(2rem, 16vw, 25rem);
  letter-spacing: -0.05ch;
  margin: 0;
  transform: translateY(40%);
}
