@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: local('Inter'), url("/fonts/Inter-roman.var.woff2?v=3.13") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: local('Inter'), url("/fonts/Inter-italic.var.woff2?v=3.13") format("woff2");
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  font: 112.5%/1.45em 'Inter', sans-serif;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter', sans-serif; }
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

@import 'utilities/visually-hidden';
@import 'components/skip-link';

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden;
}

.c-hero {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background-image: url('https://res.cloudinary.com/danmatthew/image/upload/c_thumb,w_200,g_face/v1593720656/_DSC2105_yxqwvc.jpg');
  background-size: cover;
  filter: blur(5rem);
  transition: 0.25s filter ease-out;
}

.c-hero__title {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0 0 1.45rem;
  color: #fff;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-size: 16vw;
  font-size: clamp(2rem, 16vw, 25rem);
  letter-spacing: -0.05ch;
  margin: 0;
  transform: translateY(40%);
}
