---
import "../styles/resume.css";
---

<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Resume: Dan Matthew</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link rel="stylesheet" href="/resume.css" /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="XISHJDYZ"
      data-excluded-domains="localhost"
      defer></script>
    <meta
      name="description"
      content="Experienced interaction designer with a commitment to creating inclusive and user-centred digital products. Strong expertise in accessibility standards. Offers a proven track record of identifying and resolving complex design problems. "
    />
    <meta name="view-transition" content="same-origin" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#112caf" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="hsl(0, 0%, 99%)" />
  </head>
  <body>
    <header class="banner">
      <hgroup>
        <h1>Dan Matthew</h1>
        <span class="subtitle">Interaction Designer</span>
      </hgroup>
      <p class="abstract">
        Experienced interaction designer with a commitment to creating inclusive
        and user-centred digital products. Strong expertise in accessibility standards. Offers a proven track record of identifying and resolving complex design problems.
      </p>
    </header>
    <main>
      <div class="history">
        <section class="experience">
          <h2>Experience</h2>

          <ol role="list" class="flow">
            <li>
              <article class="job flow">
                <header>
                  <span class="role">UX Engineer</span>
                  <span class="employer"
                    ><a href="https://talis.com">Talis Education Ltd</a></span
                  >
                  <span class="details">May 2021–May 2023, Remote</span>
                </header>
                <ul class="flow">
                  <li>
                    Led and developed accessibility strategy across Talis, which
                    resulted in a 90% reduction in WCAG issues across our two
                    SaaS products.
                  </li>
                  <li>
                    Designed and prototyped functionality allowing the discovery
                    and creation of annotations for a video player. This had
                    previously been impossible for keyboard and assistive
                    technology users.
                  </li>
                  <li>
                    Performed user research, created wireframes, and prototyped
                    UI components for a React-based rewrite of a collaborative
                    teaching and learning product.
                  </li>
                  <li>
                    Facilitated group and one-to-one discovery sessions with
                    customers; used unmoderated usability testing tools in order
                    to measure the success of proposed solutions.
                  </li>
                  <li>
                    Used analytics to guide design decisions and measure the
                    success of design initiatives.
                  </li>
                  <li>
                    Authored and maintained the Talis design system which
                    ensured product, engineering, and design teams could move
                    straight to solving the more complex design problems.
                  </li>
                  <li>
                    Coached peers on design and engineering teams, helping them
                    improve their understanding of accessibility and
                    user-centred design, while promoting empathy with our
                    student, academic, and library audiences.
                  </li>
                </ul>
              </article>
            </li>
            <li>
              <article class="job flow">
                <header>
                  <span class="role">Developer</span>
                  <span class="employer"
                    ><a href="https://talis.com">Talis Education Ltd</a></span
                  >
                  <span class="details">June 2015–May 2021, Remote</span>
                </header>
                <ul class="flow">
                  <li>
                    Designed and built an Angular SPA to consolidate theming
                    options for 100+ institutions, reducing complexity for Talis
                    services team and customers, while resolving a number of
                    outstanding accessibility issues.
                  </li>
                  <li>
                    Delivered a UI refresh of Aspire, a reading list and
                    copyright clearance product in first six months.
                  </li>
                  <li>
                    Core contributor towards an Angular SPA replacement for
                    Talis&apos; legacy PHP application.
                  </li>
                  <li>
                    Implemented a visual refresh of Elevate, a teaching and
                    learning product, in order to support a product-led growth
                    initiative.
                  </li>
                  <li>
                    Built and maintained WordPress theme for Talis marketing
                    team to boost SEO and drive promotion.
                  </li>
                </ul>
              </article>
            </li>
            <li>
              <article class="job flow">
                <header>
                  <span class="role">Developer</span>
                  <span class="employer"
                    >Wapple.net Ltd</a></span
                  >
                  <span class="details">Jan 2010–Mar 2015, Bromsgrove, UK</span>
                </header>
                <ul class="flow">
                  <li>
                    A role with multiple responsibilities, ranging from account and project management through to design & development of creative advertising solutions
                  </li>
                </ul>
              </article>
            </li>
          </ol>
        </section>
        <section class="education">
          <h2>Education</h2>
          <ol role="list">
            <li>
              <article class="job flow">
                <header>
                  <span class="role">BSc Computer Science</span>
                  <span class="employer"
                    >University of Portsmouth</a></span
                  >
                  <span class="details">2005–2009, Portsmouth, UK</span>
                </header>
                <ul class="flow">
                  <li>
                    Included year in industry at Thomson Reuters.
                  </li>
                </ul>
              </article>
            </li>
          </ol>
        </section>
        <section class="testimonials">
          <h2>Testimonials</h2>
          <ul class="flow" role="list">
            <li>
              <blockquote>
                <p>I can trust Dan to solve any problem and know he will come back with a clear rational to help us drive better outcomes. His perspective is highly regarded as he presents well-thought out arguments and shows his thinking with data and supportive evidence. This clearly shows Dan's care in detail and adoption of a strong work ethic in providing high-quality work.</p>
                <span>–Colleague from Talis</span>
              </blockquote>
            </li>
            <li>
              <blockquote>
                <p>Dan is a vital part of our UX team, and our domain expert in accessibility: his knowledge and passion for this area are clear and infectious. His early input always improves our designs and implementation, and our products are far better for Dan's involvement. While Dan's efforts have been substantial and visible here, I've also been impressed with his patience and how well he supports others - he has given talks to educate the teams, and is always on hand to help individuals who need it.</p>
                <span>–Colleague from Talis</span>
              </blockquote>
            </li>
          </ul>
        </section>
      </div>
      <div class="meta">
        <section>
          <dl class="flow" style="--flow-space: var(--space-2xs)">
            <div>
              <dt>
                <!-- <svg
                  width="12"
                  height="11"
                  viewBox="0 0 12 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="ContactIcon/Email">
                    <path
                      id="Vector"
                      d="M2 1.5H10C10.55 1.5 11 1.95 11 2.5V8.5C11 9.05 10.55 9.5 10 9.5H2C1.45 9.5 1 9.05 1 8.5V2.5C1 1.95 1.45 1.5 2 1.5Z"
                      stroke="#ED4763"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      id="Vector_2"
                      d="M11 2.5L6 6L1 2.5"
                      stroke="#ED4763"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </g>
                </svg> -->
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                <span class="visually-hidden">Email</span>
              </dt>
              <dd>hello@danmatthew.co.uk</dd>
            </div>
            <div>
              <dt>
                <!-- <svg
                  width="12"
                  height="11"
                  viewBox="0 0 12 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="ContactIcon/Phone">
                    <path
                      id="Vector"
                      d="M10.9997 7.98692V9.49232C11.0003 9.63208 10.9716 9.77041 10.9155 9.89846C10.8594 10.0265 10.7771 10.1414 10.6739 10.2359C10.5707 10.3304 10.4489 10.4023 10.3163 10.4471C10.1836 10.4919 10.0431 10.5085 9.90359 10.4959C8.3564 10.3281 6.87022 9.8005 5.56445 8.9554C4.34961 8.18496 3.31963 7.15703 2.54767 5.94459C1.69793 4.63549 1.16912 3.14504 1.00408 1.59397C0.991516 1.45521 1.00804 1.31536 1.0526 1.18331C1.09716 1.05127 1.16878 0.929936 1.2629 0.827033C1.35703 0.724129 1.47158 0.641913 1.59929 0.585617C1.72699 0.529321 1.86504 0.50018 2.00465 0.500049H3.51304C3.75705 0.497652 3.99361 0.583889 4.17862 0.742686C4.36364 0.901483 4.48448 1.122 4.51863 1.36315C4.5823 1.84491 4.70037 2.31794 4.87059 2.77321C4.93824 2.95281 4.95288 3.14801 4.91278 3.33567C4.87268 3.52332 4.77952 3.69557 4.64433 3.83201L4.00578 4.46929C4.72154 5.72558 5.76379 6.76576 7.02256 7.4801L7.66112 6.84281C7.79782 6.7079 7.97041 6.61492 8.15844 6.5749C8.34647 6.53488 8.54206 6.54949 8.72202 6.617C9.17819 6.78689 9.65216 6.90473 10.1349 6.96826C10.3791 7.00265 10.6022 7.12543 10.7616 7.31325C10.9211 7.50107 11.0058 7.74083 10.9997 7.98692Z"
                      stroke="#ED4763"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </g>
                </svg> -->
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                <span class="visually-hidden">Phone</span>
              </dt>
              <dd>+44 (0)7759 120253</dd>
            </div>
            <div>
              <dt>
                <!-- <svg
                  width="14"
                  height="11"
                  viewBox="0 0 14 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="ContactIcon/Website">
                    <g id="Group 14">
                      <path
                        id="Vector"
                        d="M8.63636 2.5H10.2727C10.6309 2.5 10.9855 2.57163 11.3164 2.7108C11.6473 2.84996 11.9479 3.05394 12.2012 3.31109C12.4545 3.56824 12.6553 3.87351 12.7924 4.20949C12.9295 4.54547 13 4.90557 13 5.26923C13 5.63289 12.9295 5.99299 12.7924 6.32897C12.6553 6.66495 12.4545 6.97023 12.2012 7.22737C11.9479 7.48452 11.6473 7.6885 11.3164 7.82767C10.9855 7.96683 10.6309 8.03846 10.2727 8.03846H8.63636M5.36364 8.03846H3.72727C3.36912 8.03846 3.01448 7.96683 2.68359 7.82767C2.3527 7.6885 2.05205 7.48452 1.7988 7.22737C1.28734 6.70804 1 6.00368 1 5.26923C1 4.53479 1.28734 3.83042 1.7988 3.31109C2.31026 2.79176 3.00396 2.5 3.72727 2.5H5.36364"
                        stroke="#ED4763"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        id="Vector_2"
                        d="M4.69226 5.26921H9.30765"
                        stroke="#ED4763"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </g>
                  </g>
                </svg> -->
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/></svg>
                <span class="visually-hidden">Website</span>
              </dt>
              <dd>https://danmatthew.co.uk</dd>
            </div>
          </dl>
        </section>
        <section>
          <h2>Skills</h2>
          <ul role="list" class="flow">
            <li class="pill">Product Design</li>
            <li class="pill">User Interface</li>
            <li class="pill">User Experience</li>
            <li class="pill">Interaction Design</li>
            <li class="pill">Wireframing</li>
            <li class="pill">Prototyping</li>
            <li class="pill">HTML</li>
            <li class="pill">CSS</li>
            <li class="pill">JavaScript</li>
          </ul>
        </section>
        <section>
          <h2>Socials</h2>
          <ul role="list" class="flow">
            <li class="pill pill--hollow">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
              <a href="https://linkedin.com/in/danielmatthew">linkedin.com/in/danielmatthew</a>
            </li>
            <li class="pill pill--hollow">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 496 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
              <a href="https://github.com/danielmatthew">danielmatthew</a>
            </li>
          </ul>
        </section>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
